#!/usr/bin/make -f

# upstream version
UPSTREAM_VERSION := $(shell dpkg-parsechangelog | grep ^Version | sed -ne 's/^Version: //g' -e 's/-[^-]*$$//pg')

ifeq ($(wildcard configure.in),configure.in)
SOUP_CURRENT := $(shell grep '^SOUP_CURRENT=' configure.in | sed -e 's/SOUP_CURRENT=//g')
SOUP_AGE := $(shell grep '^SOUP_AGE=' configure.in | sed -e 's/SOUP_AGE=//g')
SOUP_SOVERSION := $(shell expr $(SOUP_CURRENT) - $(SOUP_AGE))
endif

SHLIBS := libsoup2.2-${SOUP_SOVERSION} (>= 2.2.98)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk


DEB_SHLIBDEPS_INCLUDE_libsoup2.2-dev := debian/libsoup2.2-${SOUP_SOVERSION}/usr/lib
DEB_DH_MAKESHLIBS_ARGS_ALL := -V'$(SHLIBS)'
DEB_CONFIGURE_EXTRA_FLAGS += --enable-gtk-doc

