#!/usr/bin/make -f

ifeq ($(wildcard configure.in),configure.in)
SOUP_CURRENT := $(shell grep '^SOUP_CURRENT=' configure.in | sed -e 's/SOUP_CURRENT=//g')
SOUP_AGE := $(shell grep '^SOUP_AGE=' configure.in | sed -e 's/SOUP_AGE=//g')
SOUP_SOVERSION := $(shell expr $(SOUP_CURRENT) - $(SOUP_AGE))
endif

SHLIBS := libsoup2.4-${SOUP_SOVERSION} (>= 2.23.91)

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk
-include /usr/share/gnome-pkg-tools/1/rules/gnome-get-source.mk

GNOME_MODULE := libsoup

DEB_SHLIBDEPS_INCLUDE_libsoup2.4-dev += debian/libsoup2.4-${SOUP_SOVERSION}/usr/lib
DEB_DH_MAKESHLIBS_ARGS_ALL += -V'$(SHLIBS)'
# disabling GNOME support until we have libproxy in the archive we
# shall then think about adding a new package to hold the GNOME
# support; I am temporarily disabling gtk-doc because it requires
# building GNOME support
DEB_CONFIGURE_EXTRA_FLAGS += --disable-gtk-doc --without-gnome

